.repair {
  background-image: url("../assets/images/banner.webp");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 70px;
  height: 300px;
  display: flex;
  align-items: center;
}
